#===================================DOCKER==================#
APP_NAME=magento_docker
MAGE_INSTALLATION_FOLDER=magento.docker


#======================PHP8==================================#
PHP_VERSION=8.1
PHP8_HOST_NAME=php8.magento.docker


#=======================MYSQL================================#
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=magento@123
MYSQL_USER=magento
MYSQL_PASSWORD=magento@123
MYSQL_ROOT_HOST=mysql.magento.docker 
MYSQL_DATABASE=magento
MYSQL_PORT=3306
MYSQL_HOST=mysql.magento.docker 
MYSQL_VERSION=mysql:8.0
MYSQL_SHM_SIZE=2g


#========================NGINX===============================#
NGINX_VERSION=1.18
NGINX_HOST=nginx.magento.docker
NGINX_VERSION=nginx:latest


#========================MARIADB=============================#
MARIADB_ROOT_USER=root
MARIADB_ROOT_PASSWORD=magento@123
MARIADB_USER=magento
MARIADB_PASSWORD=magento@123
MARIADB_ROOT_HOST=
MARIADB_DATABASE=magento
MARIADB_PORT=3306
MARIADB_HOST=mariadb.magento.docker 
MARIADB_VERSION=mariadb:10.4.31
MARIADB_SHM_SIZE=2g

#======================MAGENTO=============================#

# Magento (required) - see https://devdocs.magento.com/guides/v2.2/install-gde/install/cli/install-cli-install.html
# Versions
MAGE_OS_MIRRORS=https://repo.magento.com/
MAGE_OS_VERSION=magento/project-community-edition
MAGENTO_VERSION=2.4.6-p3

MAGENTO_ADMIN_FIRSTNAME=mage
MAGENTO_ADMIN_LASTNAME=Os
MAGENTO_ADMIN_EMAIL=dkmagento@gmail.com
MAGENTO_ADMIN_USER=admin
MAGENTO_ADMIN_PASSWORD=admin@123A

# Magento (optional)
MAGENTO_BASE_URL=http://magento.docker/
MAGENTO_BACKEND_FRONTNAME=admin
MAGENTO_DB_HOST=mysql.magento.docker
MAGENTO_DB_NAME=magento
MAGENTO_DB_USER=magento
MAGENTO_DB_PASSWORD=magento@123
# MAGENTO_DB_PREFIX
MAGENTO_LANGUAGE=en_US
MAGENTO_CURRENCY=HRK
MAGENTO_TIMEZONE=America/Chicago
MAGENTO_USE_REWRITES=1
MAGENTO_USE_SECURE=0
MAGENTO_BASE_URL_SECURE=https://magento.docker/
MAGENTO_USE_SECURE_ADMIN=0
#MAGENTO_SALES_ORDER_INCREMENT_PREFIX='"ORD$"'
#MAGENTO_SESSION_SAVE=files

# MAGENTO_ADMIN_USE_SECURITY_KEY
# MAGENTO_KEY
# MAGENTO_CLEANUP_DATABASE
# MAGENTO_DB_INIT_STATEMENTS

#=========================================REDIS==================================#
REDIS_VERSION=6
# Magento (optional, Redis)
MAGENTO_REDIS_OBJ_SERVER=redis-obj
MAGENTO_REDIS_OBJ_HOST=redisobj.magento.docker
MAGENTO_REDIS_OBJ_PORT=6379
MAGENTO_REDIS_OBJ_DATABASE=0
#MAGENTO_REDIS_OBJ_PASSWORD

MAGENTO_REDIS_FPC_SERVER=redis-fpc
MAGENTO_REDIS_FPC_HOST=redisfpc.magento.docker
MAGENTO_REDIS_FPC_PORT=6380
MAGENTO_REDIS_FPC_DATABASE=0
#MAGENTO_REDIS_FPC_PASSWORD
MAGENTO_REDIS_FPC_COMPRESS_DATA=1

MAGENTO_REDIS_SES_SERVER=redis-ses
MAGENTO_REDIS_SES_HOST=redisses.magento.docker
MAGENTO_REDIS_SES_PORT=6381
MAGENTO_REDIS_SES_DATABASE=0
#MAGENTO_REDIS_SES_PASSWORD
#MAGENTO_REDIS_SES_TIMEOUT
#MAGENTO_REDIS_SES_PERSISTENT_ID
#MAGENTO_REDIS_SES_COMPRESSION_THRESHOLD
#MAGENTO_REDIS_SES_COMPRESSION_LIB
#MAGENTO_REDIS_SES_LOG_LEVEL
#MAGENTO_REDIS_SES_MAX_CONCURRENCY
#MAGENTO_REDIS_SES_BREAK_AFTER_FRONTEND
#MAGENTO_REDIS_SES_BREAK_AFTER_ADMINHTML
#MAGENTO_REDIS_SES_FIRST_LIFETIME
#MAGENTO_REDIS_SES_BOT_LIFETIME
#MAGENTO_REDIS_SES_DISABLE_LOCKING
#MAGENTO_REDIS_SES_MIN_LIFETIME
#MAGENTO_REDIS_SES_MAX_LIFETIME

#=========================Elastic search=============================#

#  ELASTICSEARCH_HOST=elasticsearch
#  ELASTICSEARCH_ENGINE=elasticsearch7
#  ELASTICSEARCH_PORT=9200
#  COMPOSE_PROJECT_NAME=elasticsearch
#  ELASTICSEARCH_VERSION=elasticsearch:8.9.2
#  JAVA_OPTS=-Xmx2G -Xms2G
#  ELASTIC_HOST_NAME=elasticsearch.magento.docker
#  ELS_MEM_LIMIT=3g

 #=======================OPEN-SEARCH===============================#
 SEARCH_ENGINE=opensearch
 SEARCH_HOST=opensearch.magento.docker
 OPENSEARCH_STACK_VERSION=opensearchproject/opensearch:1.2.4
 OPENSEARCH_HOST_NAME=opensearch.magento.docker
 OPENSEARCH_MEM_LIMIT=3g
 OPENSEARCH_PORT=9400

#=======================PHPMYADMIN================================#
 PHPMYADMIN_VERSION=phpmyadmin/phpmyadmin
 PHPMYADMIN_HOST=phpmyadmin.magento.docker

 #======================MAILHOG==================================#
 MAILHOG_VERSION=mailhog/mailhog:v1.0.0
 MAGENTO_MAILHOG_HOST=mailhog.magento.docker

 #======================RABBIT MQ================================#
 MAGENTO_RABBITMQ_VERSION=rabbitmq:3.8.9-management
 MAGENTO_AMQP_HOST=rabbitmq.magento.docker
 MAGENTO_AMQP_PORT=5672
 MAGENTO_AMQP_USER=magento
 MAGENTO_AMQP_PASSWORD=magento
 MAGENTO_AMQP_VIRTUALHOST=magento
#MAGENTO_AMQP_SSL

 #====================JENKINS======================================#
JENKINS_HOST=jenkins.magento.docker

#=====================PORTAINER=====================================#
PORTAINER_VERSION=portainer/portainer-ce:latest
PORTAINER_HOST=portainer.magento.docker

#=====================COMPOSER=======================================#
COMPOSER_VERSION=2.2.9
PUBLIC_KEY=**********************
PRIVATE_KEY=***********************


#=======================VARNISH=======================================#
# Magento (optional, Varnish)
#VCL_CONFIG=/data/varnish.vcl
#VARNISHD_PARAMS=-p default_ttl=3600 -p default_grace=3600 -p feature=+esi_ignore_https -p feature=+esi_disable_xml_check
